@model DeleteFurnitureViewModel

 
<h2>Do you want to delete the Furniture?</h2>
<hr />
<body style="background-color: #D3D3D3"> 
<form asp-controller="Furniture" asp-action="DeleteFurniture" method="post">
    <div class="row">
        <div class="col-sm-3">
            <label>Name</label>
        </div>
        <div class="col-sm-3">
            @Model.ItemName
        </div>
    </div>
    <div class="row">
        <div class="col-sm-3">
            <label>Category Name</label>
        </div>
        <div class="col-sm-3">
            @Model.CategoryName
        </div>
    </div>
    <div class="row">
        <div class="col-sm-3">
            <label>Wood Type</label>
        </div>
        <div class="col-sm-3">
            @Model.WoodType
        </div>
    </div>
    <div class="row">
        <div class="col-sm-3">
            <label>Description</label>
        </div>
        <div class="col-sm-3">
            @Model.ItemDescription
        </div>
    </div>
    
    <div class="row">
        <div class="col-sm-3">
            <label>Price</label>
        </div>
        <div class="col-sm-3">
            @Model.ItemPrice
        </div>
    </div>
    
    <div class="row">
        <div class="col-sm-12">
            <button type="submit" class="btn btn-danger">Delete</button>
            <a class="btn btn-primary" asp-controller="Furniture" asp-action="Index">Cancel</a>

        </div>

    </div>
</form>
</body>
